.info{
text-align-last: right;
padding: 10px;
margin: 0%;
float: right;

}

#image{
padding-top: 100px;
padding-left: 450px;


}
#q{
padding-left: 500px;
padding-bottom: 10px;

}

#h1{
   
    padding-left: 38%;

}
#H2{
padding-top: 10PX;


}